<nav class="navbar">
  <div class="logo">
    <a href="/home">
      <img src="assets/images/REAL UP.png" alt="Logo" />
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/home">HOME</a></li>
    <li><a href="/crowdposting">CROWDPOSTING</a></li>
    <li><a href="/ugc">UGC</a></li>
    <li><a href="/brand-ambassador">BRAND AMBASSADOR</a></li>
  </ul>
</nav>
<div class="container">
  <div class="content">
    <div class="content-sale">
      <div class="title">
        <h1>Crowdposting</h1>
      </div>
      <div class="content-form">
        <mat-card class="campaign-info">
          <form [formGroup]="saveClientForm">
            <div class="campaign-name">
              <input
                type="text"
                id="cliente"
                name="cliente"
                placeholder="Nombre Cliente"
                formControlName="name_client"
              />
              <input
                type="text"
                name="campaign_name"
                id="campaign_name"
                placeholder="Nombre de la camapaña"
              />
            </div>
            <div class="campaign-objetive">
              <h2>Objetivo de campaña</h2>
              <div class="radio-product-boxes">
                <div class="radio-product-box" *ngFor="let option of options">
                  <input
                    class="radio-product"
                    type="checkbox"
                    [value]="option.value"
                    [id]="option.id"
                    (change)="onCheckboxChange($event)"
                  />
                  <label [for]="option.id">{{ option.label }}</label>
                </div>
              </div>
              <mat-form-field class="brief-campaign-objective">
                <mat-label class="label-brief"
                  >Enter the purpose and objectives of your marketing campaign
                  in more detail</mat-label
                >
                <textarea
                  matInput
                  name="brief_campaign_objective"
                  id="brief-campaign-objective"
                  rows="3"
                  formControlName="brief_campaign_objective"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="location">
              <div class="country">
                <h2>Location</h2>
                <p class="text-packages">
                  Selecciona el país y las ciudades en donde deseas que tus
                  contenidos sean vistos
                </p>

                <mat-form-field class="select-country">
                  <mat-label>Pais</mat-label>
                  <mat-select
                    (selectionChange)="changeValor()"
                    (selectionChange)="showCities()"
                    disableRipple
                    [(ngModel)]="selectedCountry"
                    id="country"
                    name="country"
                    formControlName="country"
                  >
                    <mat-option
                      *ngFor="let country of countries"
                      [value]="country"
                    >
                      {{ country }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="cities-selected">
                <!--  -->
                <div class="cities" *ngIf="verificarArgentina">
                  <p>Ciudades Argentina</p>

                  <p-multiSelect
                    formControlName="cities"
                    [(ngModel)]="citiesSelected"
                    [options]="citiesListArgentina"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>
                <!--  -->
                <div class="cities" *ngIf="verificarBolivia">
                  <p>Ciudades Bolivia</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListBolivia"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>
                <!--  -->
                <div class="cities" *ngIf="verificarBrasil">
                  <p>Ciudades Brasil</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListBrasil"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>
                <!--  -->
                <div class="cities" *ngIf="verificarChile">
                  <p>Ciudades Chile</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListChile"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>
                <!--  -->
                <div class="cities" *ngIf="verificarColombia">
                  <p>Ciudades Colombia</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListColombia"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>
                <!--  -->
                <div class="cities" *ngIf="verificarEcuador">
                  <p>Ciudades Ecuador</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListEcuador"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>
                <!--  -->
                <div class="cities" *ngIf="verificarParaguay">
                  <p>Ciudades Paraguay</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListParaguay"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>
                <!--  -->
                <div class="cities" *ngIf="verificarPeru">
                  <p>Ciudades Peru</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListPeru"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>
                <!--  -->
                <div class="cities" *ngIf="verificarUruguay">
                  <p>Ciudades Uruguay</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListUruguay"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>
                <!--  -->
                <div class="cities" *ngIf="verificarVenezuela">
                  <p>Ciudades Venezuela</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListVenezuela"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarCostaRica">
                  <p>Ciudades Costa Rica</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListCostaRica"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarCuba">
                  <p>Ciudades Cuba</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListCuba"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarElSalvador">
                  <p>Ciudades El Salvador</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListElSalvador"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarGuatemala">
                  <p>Ciudades Guatemala</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListGuatemala"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarHonduras">
                  <p>Ciudades Honduras</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListHonduras"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarMexico">
                  <p>Ciudades Mexico</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListMexico"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarNicaragua">
                  <p>Ciudades Nicaragua</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListNicaragua"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarPanama">
                  <p>Ciudades Panama</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListPanama"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarPuertoRico">
                  <p>Ciudades Puerto Rico</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListPuertoRico"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarDominicanRepublic">
                  <p>Ciudades Dominican Republic</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListDominicanRepublic"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarUnitedStates">
                  <p>Ciudades United States</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListUnitedStates"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <div class="cities" *ngIf="verificarCanada">
                  <p>Ciudades Canada</p>

                  <p-multiSelect
                    formControlName="cities"
                    [options]="citiesListCanada"
                    optionLabel="name"
                    styleClass="cities-multiselect"
                    placeholder="Select Cities"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                  ></p-multiSelect>
                </div>

                <!--  -->
              </div>
            </div>
          </form>
        </mat-card>
      </div>
      <div>
        <h2 style="text-align: center"></h2>
        <mat-card class="packages-recommended">
          <h2>Paquetes recomendados por ciudad</h2>
          <p class="text-packages">
            A continuación, te recomendamos algunos de los paquetes que
            ofrecemos para alcanzar esas métricas que tanto deseas. Puedes
            agregar cuantos paquetes quieras, ya sea para probar ciertos
            paquetes en una ciudad u otra o para lanzar los contenidos en
            diferentes fechas. ¡Los límites los pones tú!
          </p>
          <div class="packages-defined">
            <div class="package-defined">
              <h3>Option 1</h3>
              <div class="packages-combos">
                <img
                  class="icons-social"
                  src="assets/icons/Instagram_light.svg"
                  alt="Icono Instagram"
                />

                <h3 style="margin-top: 0">Instagram</h3>
                <!-- Perfil Micro Influencer -->
                <div class="div-title-micro">
                  <h4 class="title-micro">Perfil Micro Influencer</h4>
                </div>
                <div class="data-package-combos">
                  <p><strong>Cantidad</strong></p>
                  <p>15</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de Historias (c/u)</strong></p>
                  <p>3</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de Reels (c/u)</strong></p>
                  <p>1</p>
                </div>

                <!-- Perfil Nano Influencer -->
                <div class="div-title-nano">
                  <h4 class="title-nano">Perfil Nano Influencer</h4>
                </div>
                <div class="data-package-combos">
                  <p><strong>Cantidad</strong></p>
                  <p>30</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de Historias (c/u)</strong></p>
                  <p>3</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de Reels (c/u)</strong></p>
                  <p>1</p>
                </div>
                <div class="div-tax-accountant">
                  <img
                    style="width: 80px; height: 80px"
                    src="assets/icons/tax-accountant.svg"
                    alt="tax-accountant"
                  />
                  <div class="text-tax-accountant">
                    <p>
                      <strong>Contenidos Totales: </strong>
                      {{ 180 }}
                    </p>
                    <p>
                      <strong>Alcance: </strong>{{ ReachTotalPaqueteUnoNormal }}
                    </p>
                    <p>
                      <strong>Valor: </strong
                      >{{
                        this.ValorTotalPaqueteUnoNormal +
                          (0.35 * this.ValorTotalPaqueteUnoNormal) / 0.65
                          | number : "1.0-1"
                      }}
                      USD
                    </p>
                  </div>
                </div>

                <p class="bolsa">Agregar a la bolsa</p>

                <!-- Boton sumar - restar -->
                <div class="data-packages-combos">
                  <div class="paquete-botones-input">
                    <button
                      class="button-content"
                      type="button"
                      (click)="restShort('numeroContentIgOne')"
                    >
                      -
                    </button>
                    <input
                      (ngModelChange)="changeValor()"
                      [(ngModel)]="numeroContentIgOne"
                      [ngModelOptions]="{ standalone: true }"
                      type="number"
                      value="20"
                    />
                    <button
                      class="button-content"
                      type="button"
                      (click)="addSaleInstagramUno()"
                      (click)="sumShort('numeroContentIgOne')"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="package-defined">
              <h3>Option 2</h3>
              <div class="packages-combos">
                <img
                  class="icons-social"
                  src="assets/icons/tiktok.svg"
                  alt="Icono TikTok"
                />
                <h3 style="margin-top: 0">TikTok</h3>
                <!-- Perfil Micro Influencer -->
                <div class="div-title-micro">
                  <h4 class="title-micro">Perfil Micro Influencer</h4>
                </div>
                <div class="data-package-combos">
                  <p><strong>Cantidad</strong></p>
                  <p>15</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de TikToks (c/u)</strong></p>
                  <p>1</p>
                </div>

                <!-- Perfil Nano Influencer -->
                <div class="div-title-nano">
                  <h4 class="title-nano">Perfil Nano Influencer</h4>
                </div>
                <div class="data-package-combos">
                  <p><strong>Cantidad</strong></p>
                  <p>30</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de TikToks (c/u)</strong></p>
                  <p>1</p>
                </div>
                <div class="div-tax-accountant div-tax-accountant-special">
                  <img
                    style="width: 80px; height: 80px"
                    src="assets/icons/tax-accountant.svg"
                    alt="tax-accountant"
                  />
                  <div class="text-tax-accountant">
                    <p>
                      <strong>Contenidos Totales: </strong>
                      {{ 45 }}
                    </p>
                    <p>
                      <strong>Alcance: </strong>{{ ReachTotalPaqueteDosNormal }}
                    </p>
                    <p>
                      <strong>Valor: </strong
                      >{{
                        this.ValorTotalPaqueteDosNormal +
                          (0.35 * this.ValorTotalPaqueteDosNormal) / 0.65
                          | number : "1.0-1"
                      }}
                      USD
                    </p>
                  </div>
                </div>
                <p class="bolsa bolsa-tiktok">Agregar a la bolsa</p>

                <!-- Boton sumar - restar -->
                <div class="data-packages-combos">
                  <div class="paquete-botones-input">
                    <button
                      class="button-content"
                      type="button"
                      (click)="restShort('numeroContentTikTokOne')"
                    >
                      -
                    </button>
                    <input
                      (ngModelChange)="changeValor()"
                      [(ngModel)]="numeroContentTikTokOne"
                      [ngModelOptions]="{ standalone: true }"
                      type="number"
                      value="20"
                    />
                    <button
                      class="button-content"
                      type="button"
                      (click)="addSaleInstagramUno()"
                      (click)="sumShort('numeroContentTikTokOne')"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="package-defined">
              <h3>Option 3</h3>
              <div class="packages-combos">
                <img
                  class="icons-social"
                  src="assets/icons/Instagram_light.svg"
                  alt="Icono Instagram"
                />
                <img
                  class="icons-social"
                  src="assets/icons/tiktok.svg"
                  alt="Icono TikTok"
                />
                <h3 style="margin-top: 0">Instagram + TikTok</h3>
                <!-- Perfil Micro Influencer -->
                <div class="div-title-micro">
                  <h4 class="title-micro">Perfil Micro Influencer</h4>
                </div>
                <div class="data-package-combos">
                  <p><strong>Cantidad</strong></p>
                  <p>15</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de Historias (c/u)</strong></p>
                  <p>3</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de Reels (c/u)</strong></p>
                  <p>1</p>
                </div>

                <!-- Perfil Nano Influencer -->
                <div class="div-title-nano">
                  <h4 class="title-nano">Perfil Nano Influencer</h4>
                </div>
                <div class="data-package-combos">
                  <p><strong>Cantidad</strong></p>
                  <p>30</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de Historias (c/u)</strong></p>
                  <p>3</p>
                </div>
                <div class="data-package-combos">
                  <p><strong>Numero de Reels (c/u)</strong></p>
                  <p>1</p>
                </div>
                <div class="div-tax-accountant">
                  <img
                    style="width: 80px; height: 80px"
                    src="assets/icons/tax-accountant.svg"
                    alt="tax-accountant"
                  />
                  <div class="text-tax-accountant">
                    <p>
                      <strong>Contenidos Totales: </strong>
                      {{ 180 }}
                    </p>
                    <p>
                      <strong>Alcance: </strong
                      >{{ ReachTotalPaqueteTresNormal }}
                    </p>
                    <p>
                      <strong>Valor: </strong
                      >{{
                        this.ValorTotalPaqueteTresNormal +
                          (0.35 * this.ValorTotalPaqueteTresNormal) / 0.65
                          | number : "1.0-1"
                      }}
                      USD
                    </p>
                  </div>
                </div>
                <p class="bolsa">Agregar a la bolsa</p>
                <!-- Boton sumar - restar -->
                <div class="data-packages-combos">
                  <div class="paquete-botones-input">
                    <button
                      class="button-content"
                      type="button"
                      (click)="restShort('numeroContentTikTokTwo')"
                    >
                      -
                    </button>
                    <input
                      (ngModelChange)="changeValor()"
                      [(ngModel)]="numeroContentTikTokTwo"
                      [ngModelOptions]="{ standalone: true }"
                      type="number"
                      value="20"
                    />
                    <button
                      class="button-content"
                      type="button"
                      (click)="addSaleInstagramUno()"
                      (click)="sumShort('numeroContentTikTokTwo')"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div class="button-platform">
            <p style="width: 90%" class="text-packages">
              ¿Encontraste lo que buscabas? Si no, desliza el toggle para armar
              paquetes totalmente personalizados según tus necesidades
            </p>
            <mat-card-content style="width: 10%" id="card-pauta">
              <mat-slide-toggle
                [(ngModel)]="checkPlatform"
                type="checkbox"
                id="guideline"
                name="guideline"
                (toggleChange)="changePlatform()"
              >
              </mat-slide-toggle>
            </mat-card-content>
          </div>
          <div class="content-max" *ngIf="checkPlatform">
            <div class="platform">
              <h2>Plataformas</h2>
              <p class="text-packages">
                Selecciona las redes sociales en las que deseas publicar tus
                contenidos. Puedes crear paquetes para que tus publicaciones
                salgan con el mismo influenciador en diferentes plataformas
                simultáneamente. Así, podrás maximizar el alcance y la
                efectividad de tus campañas.
              </p>
              <section #carrousel class="checkbox-package">
                <mat-checkbox
                  [color]="color"
                  [(ngModel)]="showInstagramPackage"
                  (change)="InstagramSelect(showInstagramPackage)"
                  id="opcion1"
                  name="opcion1"
                  >Instagram
                </mat-checkbox>

                <mat-checkbox
                  [color]="color"
                  [(ngModel)]="showTikTokPackage"
                  (change)="TikTokSelect(showTikTokPackage)"
                  id="opcion2"
                  name="opcion2"
                  >TikTok
                </mat-checkbox>
              </section>
            </div>
            <h2>Packages</h2>
            <div class="carousel">
              <form (ngSubmit)="addSaleInstagramUno()">
                <div class="package" *ngIf="showInstagramPackage">
                  <img
                    class="icons-social"
                    src="assets/icons/Instagram_light.svg"
                    alt="Icono Instagram"
                  />

                  <h3 style="margin-top: 0">Instagram</h3>

                  <div class="div-title-micro">
                    <h4 class="title-micro">Perfil Micro Influencer</h4>
                  </div>
                  <div class="data-package">
                    <p>Cantidad</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="restShort('newSaleInstagramUno.number_micro')"
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleInstagramUno.number_micro"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="20"
                      />
                      <button
                        class="button-content"
                        type="button"
                        (click)="sumShort('newSaleInstagramUno.number_micro')"
                      >
                        +
                      </button>
                    </div>
                  </div>
                  <div class="data-package">
                    <p>Numero de Historias (c/u)</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          restShort('newSaleInstagramUno.number_stories_micro')
                        "
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleInstagramUno.number_stories_micro"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="3"
                      />
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          sumShort('newSaleInstagramUno.number_stories_micro')
                        "
                      >
                        +
                      </button>
                    </div>
                  </div>

                  <div class="data-package">
                    <p>Numero de Reels (c/u)</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          restShort('newSaleInstagramUno.number_reels_micro')
                        "
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleInstagramUno.number_reels_micro"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="10"
                      />
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          sumShort('newSaleInstagramUno.number_reels_micro')
                        "
                      >
                        +
                      </button>
                    </div>
                  </div>

                  <div class="div-title-nano">
                    <h4 class="title-nano">Perfil Nano Influencer</h4>
                  </div>

                  <div class="data-package">
                    <p>Cantidad</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="restShort('newSaleInstagramUno.number_nano')"
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleInstagramUno.number_nano"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="20"
                      />
                      <button
                        class="button-content"
                        type="button"
                        (click)="sumShort('newSaleInstagramUno.number_nano')"
                      >
                        +
                      </button>
                    </div>
                  </div>

                  <div class="data-package">
                    <p>Numero de Historias (c/u)</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          restShort('newSaleInstagramUno.number_stories_nano')
                        "
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleInstagramUno.number_stories_nano"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="3"
                      />
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          sumShort('newSaleInstagramUno.number_stories_nano')
                        "
                      >
                        +
                      </button>
                    </div>
                  </div>

                  <div class="data-package">
                    <p>Numero de Reels (c/u)</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          restShort('newSaleInstagramUno.number_reels_nano')
                        "
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleInstagramUno.number_reels_nano"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="10"
                      />
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          sumShort('newSaleInstagramUno.number_reels_nano')
                        "
                      >
                        +
                      </button>
                    </div>
                  </div>
                  <div style="margin-top: 10px" class="div-tax-accountant">
                    <img
                      style="width: 100px; height: 100px"
                      src="assets/icons/tax-accountant.svg"
                      alt="tax-accountant"
                    />
                    <div class="text-tax-accountant">
                      <p>
                        <strong>Contenidos Totales: </strong>
                        {{ totalContentIgOne }}
                      </p>
                      <p>
                        <strong>Alcance: </strong>{{ ReachTotalPaqueteUno }}
                      </p>
                      <p>
                        <strong>Valor: </strong
                        >{{
                          this.ValorTotalPaqueteUno +
                            (0.35 * this.ValorTotalPaqueteUno) / 0.65
                            | number : "1.0-1"
                        }}
                        USD
                      </p>
                    </div>
                  </div>
                  <!-- <button type="button" (click)="addSaleInstagramUno()">
                  Seleccionar
                </button> -->
                  <h2 style="margin-bottom: 0px">Cantidad de paquetes</h2>
                  <div class="agrega-paquetes">
                    <p style="white-space: normal">
                      Si seleccionas mas de un paquete podras desplegarlos en
                      varios meses
                    </p>
                    <div class="data-package">
                      <div class="paquete-botones-input">
                        <button
                          class="button-content"
                          type="button"
                          (click)="restShort('numeroContentIgPersonal')"
                        >
                          -
                        </button>
                        <input
                          (ngModelChange)="changeValor()"
                          [(ngModel)]="numeroContentIgPersonal"
                          [ngModelOptions]="{ standalone: true }"
                          type="number"
                          value="20"
                        />
                        <button
                          class="button-content"
                          type="button"
                          (click)="addSaleInstagramUno()"
                          (click)="sumShort('numeroContentIgPersonal')"
                        >
                          +
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <form (ngSubmit)="addSaleTikTokUno()">
                <div class="package package-special" *ngIf="showTikTokPackage">
                  <img
                    class="icons-social"
                    src="assets/icons/tiktok.svg"
                    alt="Icono TikTok"
                  />
                  <h3 style="margin-top: 0">Paquete TikTok</h3>

                  <div class="div-title-micro">
                    <h4 class="title-micro">Perfil Micro Influencer</h4>
                  </div>
                  <div class="data-package">
                    <p>Cantidad</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="restShort('newSaleTikTokUno.number_micro')"
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleTikTokUno.number_micro"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="20"
                      />
                      <button
                        class="button-content"
                        type="button"
                        (click)="sumShort('newSaleTikTokUno.number_micro')"
                      >
                        +
                      </button>
                    </div>
                  </div>

                  <div class="data-package">
                    <p>Numero de TikToks (c/u)</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          restShort('newSaleTikTokUno.number_tiktok_micro')
                        "
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleTikTokUno.number_tiktok_micro"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="10"
                      />
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          sumShort('newSaleTikTokUno.number_tiktok_micro')
                        "
                      >
                        +
                      </button>
                    </div>
                  </div>

                  <div class="div-title-nano">
                    <h4 class="title-nano">Perfil Nano Influencer</h4>
                  </div>
                  <div class="data-package">
                    <p>Cantidad</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="restShort('newSaleTikTokUno.number_nano')"
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleTikTokUno.number_nano"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="20"
                      />

                      <button
                        class="button-content"
                        type="button"
                        (click)="sumShort('newSaleTikTokUno.number_nano')"
                      >
                        +
                      </button>
                    </div>
                  </div>

                  <div class="data-package">
                    <p>Numero de TikToks (c/u)</p>
                    <div class="paquete-botones-input">
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          restShort('newSaleTikTokUno.number_tiktok_nano')
                        "
                      >
                        -
                      </button>
                      <input
                        (ngModelChange)="changeValor()"
                        [(ngModel)]="newSaleTikTokUno.number_tiktok_nano"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        value="10"
                      />
                      <button
                        class="button-content"
                        type="button"
                        (click)="
                          sumShort('newSaleTikTokUno.number_tiktok_nano')
                        "
                      >
                        +
                      </button>
                    </div>
                  </div>
                  <div class="div-tax-accountant div-tax-accountant-tiktok">
                    <img
                      style="width: 100px; height: 100px"
                      src="assets/icons/tax-accountant.svg"
                      alt="tax-accountant"
                    />
                    <div class="text-tax-accountant">
                      <p>
                        <strong>Contenidos Totales:</strong>
                        {{ totalContentTikTokOne }}
                      </p>
                      <p>
                        <strong>Alcance: </strong>{{ ReachTotalPaqueteTres }}
                      </p>
                      <p>
                        <strong>Valor: </strong
                        >{{
                          this.ValorTotalPaqueteTres +
                            (0.35 * this.ValorTotalPaqueteTres) / 0.65
                            | number : "1.0-1"
                        }}
                        USD
                      </p>
                    </div>
                  </div>
                  <h2 style="margin-bottom: 0px">Cantidad de paquetes</h2>

                  <div class="agrega-paquetes">
                    <p style="white-space: normal">
                      Si seleccionas mas de un paquete podras desplegarlos en
                      varios meses
                    </p>
                    <div class="data-package">
                      <div class="paquete-botones-input">
                        <button
                          class="button-content"
                          type="button"
                          (click)="restShort('numeroContentTikTokPersonal')"
                        >
                          -
                        </button>
                        <input
                          (ngModelChange)="changeValor()"
                          [(ngModel)]="numeroContentTikTokPersonal"
                          [ngModelOptions]="{ standalone: true }"
                          type="number"
                          value="20"
                        />
                        <button
                          class="button-content"
                          type="button"
                          (click)="addSaleTikTokUno()"
                          (click)="sumShort('numeroContentTikTokPersonal')"
                        >
                          +
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div class="recommendations">
            <h3>Recomendaciones</h3>
            <p>
              Te recomendamos usar el mismo numero de Nano y Micro influencers
            </p>
          </div>
        </mat-card>
        <div>
          <p-button
            class="button-shop"
            mat-flat-button
            color="accent"
            type="button"
            (click)="savePackagesCrowdposting()"
          >
            Enviar Propuesta
          </p-button>
        </div>
      </div>
    </div>

    <div class="summary">
      <img
        id="realup-summary"
        src="assets/images/RealUpSummary.svg"
        alt="Logo RealUp"
      />
      <img
        id="shopping-cart"
        src="assets/icons/Shopping cart.svg"
        alt="Shopping cart"
      />
      <h2>Shopping Cart</h2>
      <div class="data">
        <label for="country">País</label>
        <p>{{ selectedCountry }}</p>
      </div>
      <div class="data">
        <label for="number-cities">Número de ciudades</label>
        <p>
          {{ citiesSelected.length }}
        </p>
      </div>
      <div class="data">
        <label for="total-contenidos">Total Contenidos</label>
        <p>
          {{ totalContenidos }}
        </p>
      </div>
      <div class="data">
        <label for="valor-contenidos">Valor promedio por contenido</label>
        <p>
          {{
            ((this.ValorTotalPaqueteUnoNormal +
              (0.35 * this.ValorTotalPaqueteUnoNormal) / 0.65) *
              numeroContentIgOne +
              (this.ValorTotalPaqueteDosNormal +
                (0.35 * this.ValorTotalPaqueteDosNormal) / 0.65) *
                numeroContentTikTokOne +
              (this.ValorTotalPaqueteTresNormal +
                (0.35 * this.ValorTotalPaqueteTresNormal) / 0.65) *
                numeroContentTikTokTwo +
              (this.ValorTotalPaqueteUno +
                (0.35 * this.ValorTotalPaqueteUno) / 0.65) *
                numeroContentIgPersonal +
              (this.ValorTotalPaqueteTres +
                (0.35 * this.ValorTotalPaqueteTres) / 0.65) *
                numeroContentTikTokPersonal) /
              totalContenidos | number : "1.0-1"
          }}
          USD
        </p>
      </div>
      <div class="data">
        <label for="Reach">Alcance Total</label>
        <p>
          {{
            ReachTotalPaqueteUnoNormal * numeroContentIgOne +
              ReachTotalPaqueteDosNormal * numeroContentTikTokOne +
              ReachTotalPaqueteTresNormal * numeroContentTikTokTwo +
              ReachTotalPaqueteUno * numeroContentIgPersonal +
              ReachTotalPaqueteTres * numeroContentTikTokPersonal
          }}
        </p>
      </div>
      <div class="data">
        <label for="CPV">CPV</label>
        <p>
          {{
            ((this.ValorTotalPaqueteUnoNormal +
              (0.35 * this.ValorTotalPaqueteUnoNormal) / 0.65) *
              numeroContentIgOne +
              (this.ValorTotalPaqueteDosNormal +
                (0.35 * this.ValorTotalPaqueteDosNormal) / 0.65) *
                numeroContentTikTokOne +
              (this.ValorTotalPaqueteTresNormal +
                (0.35 * this.ValorTotalPaqueteTresNormal) / 0.65) *
                numeroContentTikTokTwo +
              (this.ValorTotalPaqueteUno +
                (0.35 * this.ValorTotalPaqueteUno) / 0.65) *
                numeroContentIgPersonal +
              (this.ValorTotalPaqueteTres +
                (0.35 * this.ValorTotalPaqueteTres) / 0.65) *
                numeroContentTikTokPersonal) /
              (ReachTotalPaqueteUnoNormal * numeroContentIgOne +
                ReachTotalPaqueteDosNormal * numeroContentTikTokOne +
                ReachTotalPaqueteTresNormal * numeroContentTikTokTwo +
                ReachTotalPaqueteUno * numeroContentIgPersonal +
                ReachTotalPaqueteTres * numeroContentTikTokPersonal)
              | number : "1.0-3"
          }}
        </p>
      </div>
      <div class="data">
        <label for="total">Valor Total</label>
        <p>
          {{
            (this.ValorTotalPaqueteUnoNormal +
              (0.35 * this.ValorTotalPaqueteUnoNormal) / 0.65) *
              numeroContentIgOne +
              (this.ValorTotalPaqueteDosNormal +
                (0.35 * this.ValorTotalPaqueteDosNormal) / 0.65) *
                numeroContentTikTokOne +
              (this.ValorTotalPaqueteTresNormal +
                (0.35 * this.ValorTotalPaqueteTresNormal) / 0.65) *
                numeroContentTikTokTwo +
              (this.ValorTotalPaqueteUno +
                (0.35 * this.ValorTotalPaqueteUno) / 0.65) *
                numeroContentIgPersonal +
              (this.ValorTotalPaqueteTres +
                (0.35 * this.ValorTotalPaqueteTres) / 0.65) *
                numeroContentTikTokPersonal | number : "1.0-1"
          }}
          USD
        </p>
      </div>
    </div>
  </div>
</div>
