<nav class="navbar">
  <div class="logo">
    <a href="/home">
      <img src="assets/images/REAL UP.png" alt="Logo" />
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/home">HOME</a></li>
    <li><a href="/crowdposting">CROWDPOSTING</a></li>
    <li><a href="/ugc">UGC</a></li>
    <li><a href="/brand-ambassador">BRAND AMBASSADOR</a></li>
  </ul>
</nav>
<div class="container">
  <div class="content">
    <div class="title">
      <h1>Brand Ambassador</h1>
    </div>
    <mat-card style="margin: 20px">
      <h2 style="padding: 0 20px">
        The following quotation will be sent to our sales executives, who will
        respond within one business day.
      </h2>
    </mat-card>
    <div class="content-form">
      <form [formGroup]="saveClientForm" class="form-brand-ambassador">
        <div class="title-campaing">
          <h2>Campaign</h2>
        </div>

        <mat-card class="card-campaign">
          <div class="campaign-name">
            <input
              type="text"
              id="cliente"
              name="cliente"
              placeholder="Your Name"
            />
            <input
              type="text"
              id="client"
              name="client"
              placeholder="Brand"
              formControlName="client"
            />
            <input
              type="text"
              name="campaign_name"
              id="campaign_name"
              placeholder="Campaign name"
              formControlName="campaign_name"
            />
          </div>
          <div class="campaign-objetive">
            <h2>Campaign objective</h2>
            <div class="radio-product-boxes">
              <div class="radio-product-box" *ngFor="let option of options">
                <input
                  class="radio-product"
                  type="checkbox"
                  [value]="option.value"
                  [id]="option.id"
                />
                <label [for]="option.id">{{ option.label }}</label>
              </div>
            </div>
          </div>
          <div>
            <mat-form-field class="brief-campaign-objective">
              <mat-label
                >Enter the purpose and objectives of your marketing campaign in
                more detail</mat-label
              >
              <textarea
                matInput
                name="brief_campaign_objective"
                id="brief-campaign-objective"
                rows="3"
                formControlName="brief_campaign_objective"
              ></textarea>
            </mat-form-field>
          </div>
        </mat-card>
        <div class="title-campaing">
          <h2>Audience</h2>
        </div>
        <mat-card class="location-card card-campaign">
          <div class="location">
            <h2>Location</h2>
            <div class="country">
              <mat-form-field class="select-country">
                <mat-label>Country</mat-label>
                <mat-select
                  multiple
                  [(ngModel)]="selectedCountry"
                  (selectionChange)="showCities()"
                  disableRipple
                  id="country"
                  name="country"
                  formControlName="location"
                >
                  <mat-option
                    *ngFor="let country of countries"
                    [value]="country"
                  >
                    {{ country }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="cities">
              <p-multiSelect
                *ngIf="verificarArgentina"
                formControlName="cities_argentina"
                [options]="citiesListArgentina"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Argentina"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarBolivia"
                formControlName="cities_bolivia"
                [options]="citiesListBolivia"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Bolivia"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarBrasil"
                formControlName="cities_brasil"
                [options]="citiesListBrasil"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Brasil"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarChile"
                formControlName="cities_chile"
                [options]="citiesListChile"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Chile"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarColombia"
                formControlName="cities_colombia"
                [options]="citiesListColombia"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Colombia"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarEcuador"
                formControlName="cities_ecuador"
                [options]="citiesListEcuador"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Ecuador"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarParaguay"
                formControlName="cities_paraguay"
                [options]="citiesListParaguay"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Paraguay"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>
              <p-multiSelect
                *ngIf="verificarPeru"
                formControlName="cities_peru"
                [options]="citiesListPeru"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Peru"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>
              <p-multiSelect
                *ngIf="verificarUruguay"
                formControlName="cities_uruguay"
                [options]="citiesListUruguay"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Uruguay"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarVenezuela"
                formControlName="cities_venezuela"
                [options]="citiesListVenezuela"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Venezuela"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarCostaRica"
                formControlName="cities_costa_rica"
                [options]="citiesListCostaRica"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Costa Rica"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarCuba"
                formControlName="cities_cuba"
                [options]="citiesListCuba"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Cuba"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarElSalvador"
                formControlName="cities_el_salvador"
                [options]="citiesListElSalvador"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities El Salvador"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarGuatemala"
                formControlName="cities_guatemala"
                [options]="citiesListGuatemala"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Guatemala"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarHonduras"
                formControlName="cities_honduras"
                [options]="citiesListHonduras"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Honduras"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarMexico"
                formControlName="cities_mexico"
                [options]="citiesListMexico"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Mexico"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarNicaragua"
                formControlName="cities_nicaragua"
                [options]="citiesListNicaragua"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Nicaragua"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarPanama"
                formControlName="cities_panama"
                [options]="citiesListPanama"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Panama"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarPuertoRico"
                formControlName="cities_puerto_rico"
                [options]="citiesListPuertoRico"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Puerto Rico"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarDominicanRepublic"
                formControlName="cities_dominican_republic"
                [options]="citiesListDominicanRepublic"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Dominican Republic"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarCanada"
                formControlName="cities_canada"
                [options]="citiesListCanada"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities Canada"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>

              <p-multiSelect
                *ngIf="verificarUnitedStates"
                formControlName="cities_united_states"
                [options]="citiesListUnitedStates"
                optionLabel="name"
                styleClass="cities-multiselect"
                placeholder="Cities United States"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                [showClear]="true"
              ></p-multiSelect>
            </div>
          </div>
        </mat-card>
        <mat-card class="card-campaign">
          <div class="audience-interests">
            <mat-form-field class="audience-interests-select">
              <mat-label>Audience interests</mat-label>
              <mat-select
                name="audience_interests"
                id="audience_interests"
                formControlName="audience_interests"
                multiple
              >
                <mat-option
                  *ngFor="let interest of generalInterests"
                  [value]="interest"
                  >{{ interest }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="select-idiom select">
              <mat-label>Idiom</mat-label>
              <mat-select
                name="audience_language"
                id="audience_language"
                formControlName="audience_language"
              >
                <mat-option value="Spanish">Spanish</mat-option>
                <mat-option value="English">English</mat-option>
                <mat-option value="Portuguese">Portuguese</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="select-age select">
              <mat-label>Ages</mat-label>
              <mat-select
                name="audience_ages"
                id="audience_ages"
                formControlName="audience_ages"
                multiple
              >
                <mat-option value="13 - 19">13 - 19</mat-option>
                <mat-option value="20 - 35">20 - 35</mat-option>
                <mat-option value="36 - 55">36 - 55</mat-option>
                <mat-option value="56 - 75">56 - 75</mat-option>
                <mat-option value="75+">75+</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="select-gender select">
              <mat-label>Audience Gender</mat-label>
              <mat-select
                name="audience_genders"
                id="audience_genders"
                formControlName="audience_genders"
              >
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="No preference">No preference</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
        <div class="title-campaing">
          <h2>Content</h2>
        </div>
        <mat-card class="card-campaign">
          <h2>Creators</h2>
          <div>
            <mat-form-field class="select-age select">
              <mat-label>Type Contents</mat-label>
              <mat-select
                name="content_type"
                id="content_type"
                formControlName="content_type"
                multiple
              >
                <mat-option value="Instagram Post">Instagram Post</mat-option>
                <mat-option value="Instagram Story">Instagram Story</mat-option>
                <mat-option value="Instagram Reel">Instagram Reel</mat-option>
                <mat-option value="TikTok Video">TikTok Video</mat-option>
                <mat-option value="TikTok Video">YouTube Video</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="select-age select">
              <mat-label>Creator followers</mat-label>
              <mat-select
                multiple
                name="minimum_followers"
                id="minimum_followers"
                formControlName="minimum_followers"
              >
                <mat-option value="1k - 10k">1k - 10k</mat-option>
                <mat-option value="10k - 100k">10k - 100k</mat-option>
                <mat-option value="100k - 500k">100k - 500k</mat-option>
                <mat-option value="500k - 1M">500k - 1M</mat-option>
                <mat-option value="1M - 5M">1M - 5M</mat-option>
                <mat-option value="+5M">+5M</mat-option>
                <mat-option value="Macro + Celebrity"
                  >Macro + Celebrity</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="creator-options">
            <mat-form-field class="select-gender select">
              <mat-label>Creator Gender</mat-label>
              <mat-select
                name="creator_gender"
                id="creator_gender"
                formControlName="creator_gender"
              >
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="No preference">No preference</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <mat-form-field class="brief-video-content">
                <mat-label
                  >Give creators more detail about the product or service you
                  would like to promote.</mat-label
                >
                <textarea
                  matInput
                  name="brief_video_content"
                  id="brief-video-content"
                  rows="3"
                  formControlName="brief_video_content"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="creators">
              <label>Number of creators</label>
              <div class="button-creators-div">
                <button
                  (click)="restCreators()"
                  type="button"
                  class="button-creators"
                >
                  -
                </button>

                <input
                  class="form-control"
                  [(ngModel)]="numeroCreadores"
                  type="number"
                  id="numberCreators"
                  name="numberCreators"
                  placeholder="Number of creators"
                  formControlName="number_creators"
                />
                <button
                  (click)="sumCreators()"
                  type="button"
                  class="button-creators"
                >
                  +
                </button>
              </div>
              <div class="button-number-contents">
                <button mat-stroked-button (click)="putCreators(10)">10</button>
                <button mat-stroked-button (click)="putCreators(20)">20</button>
                <button mat-stroked-button (click)="putCreators(40)">40</button>
              </div>
            </div>
          </div>

          <div class="campaign-objetive flex justify-content-center calendar">
            <h2>Select the date of content deployment</h2>
            <p-calendar
              selectionMode="range"
              [(ngModel)]="date"
              [inline]="true"
              [showWeek]="true"
            />
          </div>
        </mat-card>
        <div class="button-final">
          <button mat-flat-button (click)="saveClientCrowdposting()">
            Summit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
